*{
margin: 0;
padding: 0;
background-color: black;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #eee;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.container.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.875rem;
    
    
}
.menutoggle{
    display: none;
}
header{
    background-color: white;
    box-shadow: rgba(0, 0,0, 0.1)0px 10px 15px -3px rgba(0, 0, 0, 0.05)0px 4px 6px -2px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}
a{
    text-decoration: none;
    color: rgba(red, green, blue, alpha);
}
.header .logo{
    font-size: 1.5rem;
}
.header .logo span{
    color: crimson;
}
.header .navigation{
    list-style: none;
    display: flex;
}
.header .navigation li{
    margin-left:1rem;
    font-size: 1.1rem;
    padding: 0.4rem;
}
.header .navigation li.active {
    border-bottom: 2px solid crimson;
}
.header .navigation li:hover{
    border-bottom: 2px solid crimson;
}
.main .col{
    width: 50%;
}
.post .post-img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.user img {
    width: 2.5rem;
}
.user{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.user span{
    margin-left: 0.5rem;
    color: gray;
}
.user span:nth-child(4){
    color: crimson;
}
.post p{
    font-size: 0.9rem;
    line-height: 1.5rem;
    opacity: 0.6;
    text-align: justify;
}
.post{
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.1)0px 10px 15px -3px rgba(0, 0, 0, 0.05)0px 4px 6px -2px;
    margin-top: 3rem;
    
}
.secondPost{
    margin-top: 3rem;
}
.post-info{
    padding: 1rem;
}
.container.main{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin-top: -1.5rem;
}
h2, p{
    color: white;
}
.post-info h2:hover {
    text-decoration: underline;
    cursor: pointer;
}
.col{
    padding: 10px;
}
footer {
    margin: top 3rem;
    background-color:gray;
    box-shadow: 0px 0 5px rgba(0, 0, 0, 0.1);
}
footer p{
    text-align: center;
    padding: 1rem 0.875rem;
    color: white;

}

@media (max-width: 800px) {
    .header .navigation{
        display: none;
    }

    .header .menutoggle{
        display: flex;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .container.main{
        display: flex;
        flex-direction: column;
    }

    .main .col{
        width: 100%;
    }
}